:root {
    --color-white: #fefefe;
    --color-gray: #cecece;
    --color-gray-click: #aeaeae;
    --color-dark-gray: #787878;
    --color-black: #333333;
    --color-dark: #6b9080;
    --color-green: #16db65;
    --color-gold: #ffe135;
    --color-dark-green: #16b957;
    --color-light-green: #94f5b0;
    --shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.3);
}
* {
    position: relative;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: var(--color-black);
    line-height: 1;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}
button {
    cursor: pointer;
}

.inputbar-enter {
    background-color: var(--color-gold);
    width: calc(100% - 2rem);
    margin: 0 auto 1rem auto;
    height: 3.75rem;
    border-radius: 0.675rem;
}
.inputbar-enter > .content {
    opacity: 0;
}
.inputbar-enter > .btn--close {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.inputbar-enter > .btn--close > button {
    background-color: var(--color-gold);
    color: var(--color-white);
}
.inputbar-enter > .btn--close svg {
    transform: rotate(0deg);
}
.inputbar-enter-active {
    background-color: var(--color-white);
    width: 100%;
    height: 14.5rem;
    margin: 0 auto;
    border-radius: 0.675rem 0.675rem 0 0;
    transition: width 300ms, height 300ms, border-radius 300ms, margin 300ms, background-color 300ms;
}
.inputbar-enter-active > .content {
    opacity: 1;
    transition: opacity 500ms;
}
.inputbar-enter-active > .btn--close {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    transition: top 300ms, transform 300ms;
}
.inputbar-enter-active > .btn--close > button {
    background-color: var(--color-white);
    color: var(--color-gray);
    transition: background-color 300ms, color 300ms;
}
.inputbar-enter-active > .btn--close > button > svg {
    transform: rotate(45deg);
    transition: transform 300ms;
}
.inputbar-enter-done {
    background-color: var(--color-white);
    border-radius: 0.675rem 0.675rem 0 0;
}
.inputbar-enter-done > .btn--close > button {
    color: var(--color-gray);
}

.inputbar-exit {
    background-color: var(--color-white);
    width: 100%;
    height: 14rem;
    margin: 0 auto;
    border-radius: 0.675rem 0.675rem 0 0;
}
.inputbar-exit > .content {
    opacity: 1;
}
.inputbar-exit > .btn--close {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
}
.inputbar-exit > .btn--close > button {
    background-color: var(--color-white);
    color: var(--color-gray);
}
.inputbar-exit > .btn--close > button > svg {
    transform: rotate(45deg);
}
.inputbar-exit-active {
    background-color: var(--color-gold);
    width: calc(100% - 2rem);
    margin: 0 auto 1rem auto;
    height: 3.75rem;
    border-radius: 0.675rem;
    transition: width 300ms, height 300ms, border-radius 300ms, margin 300ms, background-color 300ms;
}
.inputbar-exit-active > .content {
    opacity: 0;
    transition: opacity 100ms;
}
.inputbar-exit-active > .btn--close {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: top 300ms, transform 300ms;
}
.inputbar-exit-active > .btn--close > button {
    background-color: var(--color-gold);
    color: var(--color-white);
    transition: background-color 300ms, color 300ms;
}
.inputbar-exit-active > .btn--close > button > svg {
    transform: rotate(0deg);
    transition: transform 300ms;
}
