.inputbar-enter {
    margin: 0 1rem 1rem 1rem;
    height: 3rem;
    border-radius: 0.675rem;
}
.inputbar-enter > .content {
    opacity: 0;
}
.inputbar-enter > .btn--close {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.inputbar-enter > .btn--close svg {
    transform: rotate(0deg);
}
.inputbar-enter-active {
    height: 13.1rem;
    margin: 0 0 0 0;
    border-radius: 0.675rem 0.675rem 0 0;
    transition: height 300ms, border-radius 300ms, margin 300ms, background-color 300ms;
}
.inputbar-enter-active > .content {
    opacity: 1;
    transition: opacity 500ms;
}
.inputbar-enter-active > .btn--close {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    transition: top 300ms, transform 300ms;
}
.inputbar-enter-active > .btn--close > button > svg {
    transform: rotate(45deg);
    transition: transform 300ms;
}
.inputbar-enter-done {
    border-radius: 0.675rem 0.675rem 0 0;
}
.inputbar-exit {
    height: 13.1rem;
    margin: 0 0 0 0;
    border-radius: 0.675rem 0.675rem 0 0;
}
.inputbar-exit > .content {
    opacity: 1;
}
.inputbar-exit > .btn--close {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
}
.inputbar-exit > .btn--close > button > svg {
    transform: rotate(45deg);
}
.inputbar-exit-active {
    margin: 0 1rem 1rem 1rem;
    height: 3rem;
    border-radius: 0.675rem;
    transition: height 300ms, border-radius 300ms, margin 300ms, background-color 300ms;
}
.inputbar-exit-active > .content {
    opacity: 0;
    transition: opacity 100ms;
}
.inputbar-exit-active > .btn--close {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: top 300ms, transform 300ms;
}
.inputbar-exit-active > .btn--close > button > svg {
    transform: rotate(0deg);
    transition: transform 300ms;
}
